body, html {
    font-family: sans-serif;
    line-height: inherit;
    background-color: #209cee;
}
.input {
    width: 30% !important;
}
@media only screen and (max-width: 1000px) {
    .input {
        width: 65% !important;
    }
}